@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BTL_LTWeb.Models.TKhachHang>
@{
    ViewData["Title"] = "Danhsachkhachhang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
<h1>Danh Sách Khách Hàng</h1>
    <form asp-controller="KhachHang" asp-action="TimKhachHang" method="get" class="site-block-top-search d-flex">
        <input type="text" name="TenKhachHang" class="form-control border-1" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p></p>
<div class="alert alert-warning">
        <div id="content">
            @await Html.PartialAsync("KhachHangTable", Model)
        </div>
</div>
    @section Scripts {
        <script>
            $('body').on('click', 'li.page-item', function (e) {
                e.preventDefault();
                var page = $(this).data("page");
                var keyword = $("#keyword").val();
                $.ajax({
                    url: "/Admin/KhachHang/KhachHangFilter",
                    data: { keyword: keyword, pageIndex: page },
                    success: function (response) {
                        $("div#content").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Có lỗi xảy ra:", error);
                    }
                });
            });

            $("button#btnSearch").click(function (e) {
                var keyword = $("#keyword").val();
                var data = { keyword: keyword };

                $.ajax({
                    url: "/Admin/KhachHang/ShopsFilter",
                    data: data,
                    success: function (response) {
                        $("div#content").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Có lỗi xảy ra:", error);
                    }
                });
            });

        </script>
    }
