﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>BeA Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/ResourceTemplale/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/magnific-popup.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/jquery-ui.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/aos.css">
    <link rel="stylesheet" href="~/ResourceTemplale/css/style.css">
    <link rel="stylesheet" href="~/css/dropdown.css">

</head>
<body>

    <div class="site-wrap">
        @await Html.PartialAsync("_HeaderPartial");

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="Home">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Giỏ hàng</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- danh mục sản phẩm-->
                                    @RenderBody()
                                </tbody>
                            </table>
                        </div>
                    </form>

                </div>



            </div>
        </div>

        @await Html.PartialAsync("_FooterPartial")
    </div>

    <script src="~/js/action.js"></script>
    <script src="~/ResourceTemplale/js/jquery-3.3.1.min.js"></script>
    <script src="~/ResourceTemplale/js/jquery-ui.js"></script>
    <script src="~/ResourceTemplale/js/popper.min.js"></script>
    <script src="~/ResourceTemplale/js/bootstrap.min.js"></script>
    <script src="~/ResourceTemplale/js/owl.carousel.min.js"></script>
    <script src="~/ResourceTemplale/js/jquery.magnific-popup.min.js"></script>
    <script src="~/ResourceTemplale/js/aos.js"></script>

    <script src="~/ResourceTemplale/js/main.js"></script>


    <script>
        $(document).ready(function () {
            $('#logout').on('click', function (event) {
                event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
                $.ajax({
                    url: '/api/AccountApi/logout', // Đường dẫn đến API Logout
                    type: 'POST', // Phương thức POST
                    success: function (response) {
                        // Xử lý thành công
                        window.location.href = '/Account/Login'; // Chuyển hướng đến trang đăng nhập
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi
                        alert('Có lỗi xảy ra trong quá trình đăng xuất.'); // Hiển thị thông báo lỗi
                    }
                });
            });
        });
    </script>
</body>
</html>