@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model List<TDanhMucSp>
<div class="text-center">

    @foreach (var m in Model){
        <p>@m.TenSp</p>
    }
</div>
