@model BTL_LTWeb.ViewModels.UpdatePasswordViewModel
<div id="notification" style="display:none; padding: 10px; margin-bottom: 20px;"></div>
<div class="col-lg-8 pb-5">
    <form id="updatePasswordForm">
        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label">Mật khẩu hiện tại</label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">Mật khẩu mới</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="button" id="submitBtn" class="btn btn-primary">Xác Nhận</button>
    </form>

</div>
<script>
    $(document).ready(function () {
        $('#submitBtn').click(function (e) {
            e.preventDefault();
            if ($('#updatePasswordForm').valid()) {
                var formData = $('#updatePasswordForm').serialize();

                $.ajax({
                    type: "POST",
                    url: "/KhachHang/UpdatePassword", 
                    data: formData,
                    success: function (response) {
                        alertResult(true, "Cập nhật mật khẩu thành công");
                    },
                    error: function (xhr, status, error) {
                        alert("Đã xảy ra lỗi khi cập nhật mật khẩu.");
                    }
                });
            }else{

            }
        });
    });

    function alertResult(type, notification){
        let notification = $('#notification');
        if (type) {
            notification.text(notification).css({
                "color": "green",
                "display": "block",
                "background-color": "#e6ffe6",
                "border": "1px solid green"
            });
        } else {
            notification.text(notification).css({
                "color": "red",
                "display": "block",
                "background-color": "#ffe6e6",
                "border": "1px solid red"
            });
        }
    }
</script>
